@keyframes scrollNum1 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-81px);
        // opacity: 1;
    }
}
@keyframes scrollNum2 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-162px);
        // opacity: 1;
    }
}
@keyframes scrollNum3 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-243px);
        // opacity: 1;
    }
}
@keyframes scrollNum4 {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(-324px);
        // opacity: 1;
    }
}
@keyframes scrollNum5 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-405px);
        // opacity: 1;
    }
}
@keyframes scrollNum6 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-486px);
        // opacity: 1;
    }
}
@keyframes scrollNum7 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-567px);
        // opacity: 1;
    }
}
@keyframes scrollNum8 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-648px);
        // opacity: 1;
    }
}
@keyframes scrollNum9 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-729px);
        // opacity: 1;
    }
}
@keyframes scrollNum10 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-810px);
        // opacity: 1;
    }
}
@keyframes scrollNum11 {
    0%{
        transform: translateY(0);
        // opacity: 0;
    }
    100%{
        transform: translateY(-972px);
        // opacity: 1;
    }
}