@mixin btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    &:hover{
        background: #0dcb67;
    }
}
@mixin graph-year {
    position: absolute;
    color: #fff;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}
@mixin scrollE {
    position: relative;
    top: 100px;
}
@mixin largeTitle {
    font-size: 52px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 0 1px #000;
}
@mixin mediumTitle {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 0 0 1px #000;
}
@mixin smallTitle {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 0 0 1px #000;
}
@mixin boxShadow {
    box-shadow: 0 0 30px #e0e0e0;
    border-radius: 20px;
}
@mixin btnImgSize($width, $height, $positionX, $positionY) {
    background: url(../img/sp_common_v2.png) no-repeat;
    background-size: 262px 217px;
    width: #{$width}px;
    height: #{$height}px;
    background-position-x: #{$positionX}px;
    background-position-y: #{$positionY}px;
}