@import "mixin";
@import "keyframes";
//공통속성
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body{
font-family:'NanumSquare',san-serif;
}

.container{
    width: 1190px;
    height: inherit;
    padding: 0 50px;
    margin: 0 auto;
}

//layout
#header{
    width: 100%;
    height: 58px;
}
#nav{
    width: 800px;
    height: 58px;
}
#main{
    width: 100%;
}

.header{
    position: fixed;
    z-index: 9999;
    transition: .5s;
    &-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        a{
            display: block;
            @include btnImgSize(145, 28, 0, 0);
        }
    }
    &-share{
        a{
            display: block;
            @include btnImgSize(28, 28, 0, -190);
        }
    }
}
.nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    &-ul{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin: 0 5px;
            a{
                font-size: 12px;
                display: block;
                border-radius: 20px;
                padding: 6px 13px;
                transition: .3s;
                &:hover{
                    background: #00000014;
                }
                &.on{
                    background: #000;
                    color: #fff;
                }
            }
            
        }
    }
}
.main{
    &-sec1{
        width: 100%;
        height: 100vh;
        &-bg{
            height: 100%;
            background: #ece9ea;
            overflow: hidden;
            video{
                width: 100%;
                display: block;
                transform: scale(1.4);
                transition: .5s;
            }
        }
    }
    &-sec2{
        width: 100%;
        height: 100vh;
        padding-bottom: 50px;
        &-text{
            text-align: center;
            // @include scrollE;
            h2{
                @include largeTitle;
                padding-top: 100px;
                span{
                    display: inline-block;
                    position: relative;
                    &::after{
                        position: absolute;
                        bottom: 10%;
                        left: 0;
                        z-index: -1;
                        content: "";
                        width: 100%;
                        height: 40%;
                        background: #78fcb2
                    }
                }
            }
            p{
                font-size: 20px;
                margin: 30px 0;
            }
            a{
                @include btn;
                font-size: 16px;
            }
        }
        &-graph{
            width: 100%;
            margin-top: 160px;
            .graph-wrap{
                width: 100%;
                height: 320px;
                position: relative;
                &-top{
                    display: flex;
                    align-items: flex-end;
                    height: 50%;
                    .graph-bar{
                    display: block;
                    background: #e0e0e0;
                    width: calc(100% - 190px / 20);
                    margin-left: 10px;
                    &:first-child{
                        margin-left: 0;
                        height: 22.5%;
                    }
                    &:nth-child(2){height: 24.4%;}
                    &:nth-child(3){height: 24.4%;}
                    &:nth-child(4){height: 28.2%;}
                    &:nth-child(5){height: 28.2%;}
                    &:nth-child(6){height: 32%;}
                    &:nth-child(7){height: 39.7%;}
                    &:nth-child(8){height: 39.7%;}
                    &:nth-child(9){height: 39.7%;}
                    &:nth-child(10){height: 44%;}
                    &:nth-child(11){height: 44%;}
                    &:nth-child(12){height: 44%;}
                    &:nth-child(13){height: 47.8%;}
                    &:nth-child(14){height: 54%;}
                    &:nth-child(15){height: 59.8%;}
                    &:nth-child(16){height: 72.7%;}
                    &:nth-child(17){height: 82.2%;}
                    &:nth-child(18){height: 93.3%;}
                    &:nth-child(19){height: 97.6%;}
                    &:nth-child(20){height: 100%;}
                }
                }
                &-bottom{
                    display: flex;
                    height: 50%;
                    .graph-bar{
                        // animation: graph-height 1s ease-in 1;
                        display: block;
                        background: #0eca6b;
                        width: calc(100% - 190px / 20);
                        margin-left: 10px;
                        &:first-child{
                            margin-left: 0;
                            height: 14.8%;
                            position: relative;
                            &::before{
                                @include graph-year;
                                content: "2021";
                            }
                        }
                        &:nth-child(2){height: 17.2%;}
                        &:nth-child(3){height: 14.8%;}
                        &:nth-child(4){height: 14.8%;}
                        &:nth-child(5){height: 17.2%;}
                        &:nth-child(6){height: 19.1%;}
                        &:nth-child(7){height: 26.3%;}
                        &:nth-child(8){height: 28.2%;}
                        &:nth-child(9){height: 30.1%;}
                        &:nth-child(10){
                            height: 30.1%;
                            position: relative;
                            &::before{
                                content: "2030";
                                @include graph-year;
                            }
                        }
                        &:nth-child(11){height: 30.1%;}
                        &:nth-child(12){height: 31.1%;}
                        &:nth-child(13){height: 31.1%;}
                        &:nth-child(14){height: 31.1%;}
                        &:nth-child(15){height: 34%;}
                        &:nth-child(16){height: 39.7%;}
                        &:nth-child(17){height: 47.8%;}
                        &:nth-child(18){height: 61.2%;}
                        &:nth-child(18){height: 76.1%;}
                        &:nth-child(19){height: 84.2%;}
                        &:nth-child(20){
                            height: 100%;
                            position: relative;
                            &::before{
                                content: "2040";
                                @include graph-year;
                            }
                        }
                    }
                }
                &-line{
                    position: absolute;
                    width: 96%;
                    top: 39%;
                    left: 2%;
                    // opacity: 0;
                    .graph-img{
                        display: block;
                        position: relative;
                        width: 0;
                        &::before{
                            content: "";
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: #3b86fe;
                            position: absolute;
                            top: 14px;
                        }
                        &::after{
                            content: "";
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: #3b86fe;
                            position: absolute;
                            top: 30px;
                            right: -3px;
                        }
                        img{
                            width: 100%;
                        }
                    }
                    .graph-tooltip{
                        position: absolute;
                        right: -15.5px;
                        top: -25px;
                        opacity: 0;
                        img{
                            width: 128px;
                            height: 34px;
                        }
                    }
                }
                &-legend{
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    ul{
                        li{
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            margin-bottom: 10px;
                            span{
                                width: 14px;
                                height: 14px;
                                display: inline-block;
                                border-radius: 50%;
                            }
                            .circle1{
                                background: #e0e0e0;
                            }
                            .circle2{
                                background: #0dcb67;
                            }
                            .circle3{
                                background: #3b86fe;
                            }
                        }
                    }
                }
                &-num{
                    position: absolute;
                    top: -70px;
                    left: 50%;
                }
                &-number{
                    font-size: 72px;
                    font-weight: bolder;
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    width: 200px;
                    opacity: 0;
                    .number{
                        width: 50px;
                        height: 95px;
                        overflow: hidden;
                        position: relative;
                        &-wrap{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            top: 0;
                            align-items: center;
                        }
                    }
                    .number1{
                        .number-wrap.addParallax{
                            animation: scrollNum8 2s forwards;
                        }
                        
                    }
                    .number2{
                        .number-wrap.addParallax{
                            animation: scrollNum11 2s forwards;
                        }
                    }
                    >span{
                        font-size: 40px;
                        align-items: baseline;
                        padding-bottom: 5px;
                    }
                    &::before{
                        content: "온실가스 배출 감축량";
                        font-size: 16px;
                        position: absolute;
                        bottom: -17px;
                        left: 5px;
                        background: #fff;
                        z-index: 1;

                    }
                    &::after{
                        content: "";
                        @include btnImgSize(47, 61, 0, -38);
                        position: absolute;
                        right: 5px;
                        top: 20px;
                    }
                }
                &-middle{
                    width: 1px;
                    height: 250px;
                    background: #999;
                    position: absolute;
                    top: -90px;
                    left: 47.5%;
                    opacity: 0;
                }
                &-bottomt{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    span{
                        font-size: 16px;
                        color: #444;
                    }
                }
            }
        }
    }
    &-sec3{
        padding-top: 80px;
        &-text{
            text-align: center;
            padding-top: 10px;
            margin-bottom: 100px;
            @include scrollE;
            h4{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            h2{
                @include largeTitle;
            }
        }
        &-video{
            background: #07c89b;
            border-radius: 30px;
            padding: 30px 60px;
            @include scrollE;
            &-wrap{
                display: flex;
                justify-content: space-between;
                .mc3-text{
                    color: #fff;
                    h3{
                        font-size: 34px;
                        font-weight: bolder;
                        margin-bottom: 30px;
                    }
                    p{
                        font-size: 20px;
                        font-weight: bold;
                    }
                    span{
                        display: block;
                        @include btnImgSize(40,40,-96,-99);
                        position: absolute;
                        bottom: 40px;
                        cursor: pointer;
                        &:hover{
                            opacity: .5;
                        }
                    }
                }
                .mc3-video{
                    video{
                        width: 500px;
                    }
                }
            }
        }
    }
    &-sec4{
        padding-bottom: 100px;
        &-text{
            padding-top: 100px;
            margin-bottom: 70px;
            @include scrollE;
            h3{
                @include mediumTitle;
            }
        }
        &-cont{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 600px;
        }
        &-left{
            width: 49%;
            height: 100%;
            @include scrollE;
            &-wrap{
                height: 100%;
                h4{
                    margin-top: 170px;
                    &::after{
                        width: 182px;
                        height: 166px;
                        background-position:0 -361px !important;
                        top: -170px;
                        left: 50%;
                        margin-left: -91px;
                    }
                }
            }
        }
        &-right{
            width: 49%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-wrap1{
                height: 48%;
                @include scrollE;
                h4{
                    margin-left: -27px;
                    &::after{
                        width: 47px;
                        height: 75px;
                        background-position:-545px -410px !important;
                        right: -52px;
                    }
                }
            }
            &-wrap2{
                height: 48%;
                @include scrollE;
                h4{
                    margin-left: -27px;
                    &::after{
                        width: 47px;
                        height: 75px;
                        background-position:-493px -410px !important;
                        right: -52px;
                    }
                }
            }
        }
        &-wrap{
            @include boxShadow;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                font-size: 54px;
                font-weight: bolder;
                display: flex;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: fit-content;
                margin-bottom: 20px;
                .number{
                    overflow: hidden;
                    position: relative;
                    width: 40px;
                    &-wrap{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 0;
                    }
                    &-wrap1.addParallax{animation: scrollNum2 2s forwards;}
                    &-wrap2.addParallax{animation: scrollNum9 2s forwards;}
                    &-wrap3.addParallax{animation: scrollNum2 2s forwards;}
                    &-wrap4.addParallax{animation: scrollNum9 2s forwards;}
                    &-wrap5.addParallax{animation: scrollNum8 2s forwards;}
                    &-wrap6.addParallax{animation: scrollNum4 2s forwards;}
                    &-wrap7.addParallax{animation: scrollNum10 2s forwards;}
                }
                
                &:after{
                    position: absolute;
                    content: "";
                    background: url(../img/sp_card_view.png) no-repeat;
                    background-size: 842px 629px;
                }
            }
            p{
                font-size: 16px;
                color: #444;
            }
        }
    }
    &-sec5{
        padding-bottom: 50px;
        &-text{
            margin-bottom: 70px;
            @include scrollE;
            h3{
                @include mediumTitle;
            }
        }
        &-cont{
            display: flex;
            justify-content: space-between;
            width: 100%;
            &-box{
                width: 31.5%;
                @include boxShadow;
                @include scrollE;
                padding: 20px 30px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 15px;
                .step{
                    font-size: 13px;
                    background: #11c29133;
                    width: fit-content;
                    padding: 8px 15px;
                    border-radius: 20px;
                    font-weight: bold;
                }
                .mc5-largeimg{
                    img{
                        width: 100%;
                    }
                }
                p{
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                }
                .mc5-icoGo{
                    display: block;
                    @include btnImgSize(34,34,0,-150);
                    cursor: pointer;
                    &:hover{
                        background-position-x: -117px;
                    }
                }
            }
        }
    }
    &-sec6{
        padding-bottom: 100px;
        padding-top: 80px;
        &-text{
            @include scrollE;
            margin-top: 20px;
            margin-bottom: 70px;
            text-align: center;
            h4{
                font-size: 20px;
                letter-spacing: -1px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            h1{
                font-size: 52px;
                font-weight: bold;
            }
        }
        &-img{
            @include scrollE;
            display: flex;
            justify-content: space-between;
            width: 100%;
            background: #000;
            border-radius: 30px;
            color: #fff;
            padding: 40px;
            box-sizing: border-box;
            &-left{
                position: relative;
                div{
                    h3{
                        font-size: 40px;
                        margin: 10px 0;
                    }
                    p{
                        font-size: 20px;
                        margin-top: 30px;
                    }
                }
                &-btn{
                    display: block;
                    @include btnImgSize(40,40,-96,-99);
                    position: absolute;
                    bottom: 0;
                    cursor: pointer;
                    &:hover{
                        opacity: .5;
                    }
                }
            }
            &-right{
                video{
                    width: 500px;
                }
            }
        }
        .container2{
            margin-top: 100px;
            display: flex;
            gap: 2%;
            flex-wrap: wrap;
        }
        &-box{
            @include scrollE;
        }
        &-box3,&-box4{
            margin-top: 30px;
            h2{
                font-size: 54px !important;
                position: relative;
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                .number{
                    overflow: hidden;
                    position: relative;
                    width: 40px;
                    &-wrap{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 0;
                    }
                    &-wrap11.addParallax{animation: scrollNum6 2s forwards;}
                    &-wrap12.addParallax{animation: scrollNum3 2s forwards;}
                    &-wrap13.addParallax{animation: scrollNum10 2s forwards;}
                    &-wrap14.addParallax{animation: scrollNum1 2s forwards;}
                    &-wrap15.addParallax{animation: scrollNum8 2s forwards;}
                    &-wrap16.addParallax{animation: scrollNum2 2s forwards;}
                }
            }
            h2::after{
                content: "";
                position: absolute;
                background: url(../img/sp_card_view.png) no-repeat;
                background-size: 842px 629px;
            }
            p{
                font-size: 16px;
                text-align: center;
            }
        }
        &-box3{
            h2::after{
            width: 307px;
            height: 110px;
            background-position: -407px -88px;
            }
        } 
        
        &-box4{
            h2{
                margin-left: -60px;
            }
            h2::after{
            width: 60px;
            height: 75px;
            background-position: -428px -410px;
            right: 25%;
            }
        }
        &-box{
            width: 49%;
            @include boxShadow;
            padding: 40px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            h2{
                @include mediumTitle;
                text-align: left;
            }
            p{
                font-size: 20px;
            }
            img{
                width: 80%;
                display: block;
                margin: 0 auto;
            }
            >span{
                @include btnImgSize(40,40,-103,-33);
                cursor: pointer;
                &:hover{
                    background-position: -51px -99px;
                }
            }
        }
    }
    &-sec7{
        padding-bottom: 50px;
        padding-top: 80px;
        &-text{
            @include scrollE;
            margin-bottom: 80px;
            h4{
                @include smallTitle;
                margin-bottom: 20px;
            }
            h1{
                @include largeTitle;
            }
        }
        &-cont{
            display: flex;
            justify-content: space-between;
            height: 544px;
            &-left{
                @include scrollE;
                @include boxShadow;
                width: 49%;
                height: 100%;
                padding: 40px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p{
                    font-size: 34px;
                    color: #fff;
                    font-weight: bold;
                }
                span{
                    @include btnImgSize(40,40,-96,-99);
                    display: block;
                    cursor: pointer;
                    &:hover{
                        opacity: .7;
                    }
                }
            }
            &-right{
                width: 49%;
                &-top{
                    @include scrollE;
                    @include boxShadow;
                    height: 48%;
                    margin-bottom: 4%;
                    padding: 40px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
                    h4{
                        font-size: 40px;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        position: relative;
                        .number{
                            font-size: 54px;
                            overflow: hidden;
                            width: 40px;
                            height: 81px;
                            &-wrap{
                                display: flex;
                                flex-direction: column;
                            }
                            &-wrap21.addParallax{animation: scrollNum3 2s forwards;}
                            &-wrap22.addParallax{animation: scrollNum3 2s forwards;}
                            &-wrap23.addParallax{animation: scrollNum9 2s forwards;}
                            &-wrap24.addParallax{animation: scrollNum8 2s forwards;}
                            &-wrap25.addParallax{animation: scrollNum9 2s forwards;}
                            &-wrap26.addParallax{animation: scrollNum1 2s forwards;}
                            &-wrap27.addParallax{animation: scrollNum2 2s forwards;}
                            &-wrap28.addParallax{animation: scrollNum3 2s forwards;}
                        }
                    }
                    p{
                        font-size: 16px;
                        color: #444;
                        text-align: center
                    }
                }
                &-bottom{
                    @include scrollE;
                    @include boxShadow;
                    height: 48%;
                    padding: 40px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        font-size: 34px;
                        color: #fff;
                        font-weight: bold;
                    }
                    span{
                        @include btnImgSize(40,40,-96,-99);
                        display: block;
                        cursor: pointer;
                        &:hover{
                            opacity: .7;
                        }
                    }
                }
            }
        }
        &-cont1{
            margin-bottom: 28px;
            .main-sec7-cont-left{
                background: url(../img/bg_card_view_01.png) no-repeat;
                background-size: 583px 544px;
            }
            .main-sec7-cont-right-top h4{
                margin-left: -50px;
                &::after{
                    position: absolute;
                    content: "";
                    background: url(../img/sp_card_view.png) no-repeat;
                    background-size: 842px 629px;
                    background-position: -733px -203px;
                    width: 60px;
                    height: 75px;
                    right: 55px;
                    top: -5px;
                }
            }
            .main-sec7-cont-right-bottom{
                background: url(../img/bg_card_view_03.png) no-repeat;
                background-size: 583px 260px;
            }
        }
        &-cont2{
            .main-sec7-cont-left{
                overflow: hidden;
                video{
                    height: 544px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 20px;
                    z-index: -1;
                }
            }
            .main-sec7-cont-right-top h4{
                margin-left: -50px;
                &::after{
                    position: absolute;
                    content: "";
                    background: url(../img/sp_card_view.png) no-repeat;
                    background-size: 842px 629px;
                    background-position: -667px -203px;
                    width: 61px;
                    height: 75px;
                    right: 95px;
                }
            }
            .main-sec7-cont-right-bottom{
                text-align: center;
                h2{
                    font-size: 46px;
                    font-weight: bold;
                    position: relative;
                    &::after{
                        content: "";
                        background: url(../img/sp_card_view.png) no-repeat;
                        background-size: 842px 629px;
                        background-position: -407px -288px;
                        width: 340px;
                        height: 58px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                p{
                    color: #444;
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
    }
    &-sec8{
        padding-top: 80px;
        margin-top: 50px;
        padding-bottom: 150px;
        &-text{
            margin-bottom: 40px;
            @include scrollE;
            p{
                @include smallTitle;
            }
            h2{
                @include largeTitle;
            }
        }
        &-slide{
            width: 100%;
            @include scrollE;
            padding-bottom: 60px;
            height: 690px;
            overflow: hidden;
            opacity: 0;
            &-wrap{
                display: flex;
                width: 3930px;
                gap: 30px;
                margin-left: calc((100% - 1290px + 15px)/2);
                margin-top: 30px;
                position: absolute;
                left: 0;
                .slide{
                    display: flex;
                    @include boxShadow;
                    padding: 40px;
                    width: 1290px;
                    justify-content: space-between;
                    box-sizing: border-box;
                    &-left{
                        h4{
                            font-size: 32px;
                            font-weight: bold;
                            span{
                                color: #0dcb67;
                            }
                        }
                    }
                    &-right{
                        width: 55%;
                        .go{
                            background: url(../img/sp_common_v2.png) no-repeat;
                            background-size: 262px 217px;
                            background-position: 0 -99px;
                            width: 46px;
                            height: 46px;
                            display: block;
                            float: right;
                            cursor: pointer;
                            &:hover{
                                background-position: -52px -33px;
                            }
                        }
                        video{
                            width: 100%;
                        }
                    }
                }
                .slide1{
                    background: url(../img/bg_slide_01.png) no-repeat;
                    background-size: 1190px;
                }
                .slide2{
                    background: url(../img/bg_slide_02.png) no-repeat;
                    background-size: 1190px;
                }
                .slide3{
                    background: url(../img/bg_slide_03.png) no-repeat;
                    background-size: 1190px;
                }
            }
            &-btnwrap{
                display: flex;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                align-items: center;
                gap: 15px;
                .btn-prev, .btn-next{
                    display: block;
                    width: 46px;
                    height: 46px;
                    cursor: pointer;
                    img{
                        width: 100%;
                    }
                }
                span{
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
    &-sec9{
        height: 100vh;
        opacity: 0;
        margin-bottom: 150px;
        &-wrap{
            width: 100%;
            height: 100%;
            @include scrollE;
            video{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: -1;
                object-fit: cover;
                display: block
            }
            .tooltip1{
                @include btnImgSize1(163, 0, 0);
                top: 90px;
                left: 285px;
                animation: tooltip 1.5s ease-in infinite;
            }
            .tooltip2{
                @include btnImgSize1(127,0,-114);
                top: 49%;
                left: 44%;
                animation: tooltip 1.5s ease-in infinite;
            }
            .tooltip3{
                @include btnImgSize1(152,-168,0);
                top: 36%;
                right: 21%;
                animation: tooltip 1.5s ease-in infinite;
            }
        }
        &-text{
            text-align: center;
            position: absolute;
            top: 170px;
            left: 50%;
            transform: translateX(-50%);
            p{
                @include smallTitle;
                background: #23adf2;
                color:#fff;
                display: inline-block;
                padding: 5px 10px;
                border-radius: 20px;
                margin-top: 30px;
            }
            h2{
                @include largeTitle;
                margin-top: 20px;
                line-height: 170%;
            }
        }
    }
    &-sec10{
        width: 100%;
        padding-bottom: 200px;
        padding-top: 80px;
        >video{
            width: 90%;
            border-radius: 30px;
            display: block;
            margin: 0 auto;
            @include scrollE;
            margin-bottom: 50px;
        }
        &-infowrap{
            display: flex;
            gap: 2%;
        }
        &-info{
            border: 1px solid #cfcfcf;
            border-radius: 20px;
            width: 49%;
            padding: 30px;
            box-sizing: border-box;
            @include scrollE;
            h3{
                font-size: 28px;
                font-weight: bolder;
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                margin-bottom: 90px;
            }
            span{
                @include btnImgSize(40, 40, -51, -99);
                display: block;
                cursor: pointer;
                position: absolute;
                right: 3%;
                bottom: 6%;
                &:hover{
                    background-position: -103px -33px;
                }
            }
        }
        &-reportwrap{
            @include scrollE;
            background: rgb(213, 249, 223);
            border-radius: 30px;
            padding: 80px 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-top: 50px;
            overflow: hidden;
            &::before{
                content: "";
                position: absolute;
                width: 39px;
                height: 39px;
                background: url(../img/bg_report_twinkle.png) no-repeat;
                background-size: 39px 39px;
                left: 6%;
                top: 13%;
            }
            &::after{
                content: "";
                position: absolute;
                width: 32px;
                height: 47px;
                background: url(../img/bg_report_water.png) no-repeat;
                background-size: 32px 47px;
                right: 6%;
                bottom: 13%;
            }
        }
        &-report{
            text-align: center;
            h2{
                font-size: 46px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
        &-video{
            video{
                position: absolute;
            }
            video:nth-child(1){
                width: 339px;
                height: 204px;
                bottom: -17px;
                left: 0;
            }
            video:nth-child(2){
                width: 174px;
                height: 119px;
                bottom: -17px;
                right: 22%;
            }
            video:nth-child(3){
                width: 183px;
                height: 202px;
                top: -20px;
                right: 20px;
            }
        }
        &-btn{
            display: flex;
            align-items: center;
            button{
                @include btn;
                margin-right: 15px;
            }
            span{
                cursor: pointer;
                display: block;
                padding-right: 18px;
                background: url(../img/ico_btn_arrow_gray.png) no-repeat right;
                background-size: 18px 18px;
                &:hover{
                    color: #0dcb67;
                }
            }
        }
    }
}
.footer{
    padding-bottom: 50px;
    &-wrap{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    p{
        font-size: 16px;
        &:nth-child(2){
            position: relative;
            &::before{
                content: "";
                width: 1px;
                height: 16px;
                background: rgb(177, 177, 177);
                position: absolute;
                left: -10px;
                top: 5px;
            }
        }
    }
}