@charset "UTF-8";

.header .btn_utill a + button {
	margin-left: 20px;
}

.graph_viewer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
}

.graph_viewer .graph_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-flex: 50%;
	-ms-flex: 50%;
	flex: 50%;
}
.graph_viewer .graph_box:first-of-type {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.graph_viewer .graph_box:first-of-type .graph_bar {
	background-color: #e0e0e0;
}
.graph_viewer .graph_box:last-of-type .graph_bar {
	background-color: #0eca6b;
}

.graph_viewer .graph_box.fade_in_line .middle::before {
	opacity: 1;
}

.graph_viewer .graph_line {
	z-index: 1;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -11px;
	left: 16px;
	right: 16px;
	width: 0;
	height: 26px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.graph_viewer .graph_line .image {
	display: block;
	height: 100%;
}
.graph_viewer .graph_line .image .animation_area {
	display: block;
	position: relative;
	height: 100%;
}
.graph_viewer .graph_line .image .animation_area::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: -4px;
	margin: auto 0;
	width: 8px;
	height: 8px;
	background-color: #3b86fe;
	border-radius: 50%;
}
.graph_viewer .graph_line .image .animation_area::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -2px;
	margin: auto 0;
	width: 8px;
	height: 8px;
	background-color: #3b86fe;
	border-radius: 50%;
}
.graph_viewer .graph_line .image img {
	width: 100%;
	height: 100%;
	-o-object-fit: fill;
	object-fit: fill;
}
.graph_viewer .graph_line .tooltip {
	position: absolute;
	right: -9px;
	bottom: 20px;
	width: 128px;
	height: 34px;
	opacity: 0;
}
.graph_viewer .graph_line.fade_in_line {
	width: calc(100% - 32px);
	-webkit-transition: width 1s cubic-bezier(0.71,0.12,0.31,0.86);
	-o-transition: width 1s cubic-bezier(0.71,0.12,0.31,0.86);
	transition: width 1s cubic-bezier(0.71,0.12,0.31,0.86);
}
.graph_viewer .graph_line.fade_in_tooltip {
	overflow: visible;
}
.graph_viewer .graph_line.fade_in_tooltip .tooltip {
	opacity: 1;
	bottom: 28px;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.graph_viewer .graph_bar {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 0;
	-webkit-transition: height 1s cubic-bezier(0.71,0.12,0.31,0.86);
	-o-transition: height 1s cubic-bezier(0.71,0.12,0.31,0.86);
	transition: height 1s cubic-bezier(0.71,0.12,0.31,0.86);
}
.graph_viewer .graph_bar.middle::before {
	content: '';
	position: absolute;
	top: -163px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 1px;
	height: 167px;
	background-color: #999;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.graph_viewer .graph_bar + .graph_bar {
	margin-left: 7px;
}
.graph_viewer .graph_bar .year {
	display: block;
	padding-top: 6px;
	font-size: 11px;
	font-weight: 800;
	letter-spacing: -0.3px;
	text-align: center;
	color: #fff;
	word-break: break-all;
}


@media only screen and (min-width: 768px) {
	.graph_viewer .graph_line {
		margin-top: -18px;
		height: 42px;
	}
	.graph_viewer .graph_line .image .animation_area::before,
	.graph_viewer .graph_line .image .animation_area::after {
		width: 10px;
		height: 10px;
	}
	.graph_viewer .graph_line .image .animation_area::before {
		bottom: -12px;
	}
	.graph_viewer .graph_line .image .animation_area::after {
		bottom: -2px;
	}
	.graph_viewer .graph_bar.middle::before {
		top: -204px;
		height: 207px;
	}
}

@media only screen and (min-width: 1024px) {
	.graph_viewer .graph_line {
		left: 14px;
		right: 14px;
		height: 39px;
	}
	.graph_viewer .graph_line.fade_in_line {
		width: calc(100% - 28px);
	}
	.graph_viewer .graph_bar .year {
		font-size: 10px;
	}
	.graph_viewer .graph_line .image .animation_area::before {
		bottom: -1px;
	}
	.graph_viewer .graph_line .image .animation_area::after {
		bottom: -3px;
	}
	.graph_viewer .graph_bar.middle::before {
		top: -220px;
		height: 224px;
	}
}


@media only screen and (min-width: 1280px) {
	.graph_viewer .graph_bar + .graph_bar {
		margin-left: 10px;
	}
	.graph_viewer .graph_bar .year {
		padding-top: 6px;
		font-size: 12px;
	}
	.graph_viewer .graph_line .tooltip {
		bottom: 30px;
		right: 0;
	}
	.graph_viewer .graph_line.fade_in_tooltip .tooltip {
		bottom: 38px;
	}
	.graph_viewer .graph_line .image .animation_area::before,
	.graph_viewer .graph_line .image .animation_area::after {
		width: 12px;
		height: 12px;
	}
	.graph_viewer .graph_line .image .animation_area::after {
		bottom: -4px;
	}
	.graph_area .graph_view .reduction_box {
		left: 575px;
	}
}
@media only screen and (min-width: 1600px) {
	.graph_viewer .graph_bar .year {
		padding-top: 8px;
		font-size: 14px;
	}
	.graph_viewer .graph_bar + .graph_bar {
		margin-left: 13px;
	}
	.graph_viewer .graph_bar.middle::before {
		top: -250px;
		height: 254px;
	}
}

@media only screen and (max-width: 374px) {
	.graph_viewer .graph_bar.middle::before {
		display: none;
	}
}

/* 영상 모션 커스텀 */
.header.scoll {
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}
.content > [class*="section_"] .card_list li.card_item_full .thumb_box canvas {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: auto;
}
.content > [class*="section_"] .card_list li.card_item_full .thumb_box video {
	opacity: 0;
}
.content > [class*="section_"] .card_list li.card_item_full .outlink_white {
	z-index: 10;
}
.section_report .info_record .video_box [class*="bg_"] canvas {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.section_report .info_record .video_box [class*="bg_"] img {
	width: 100%;
	height: auto;
}
@media (min-width: 768px) {
	.content > [class*="section_"] .card_list li.card_item_full .thumb_box video {
		top: 0;
		right: 0;
		left: auto;
		width: auto;
	}
}
@media only screen and (max-width: 767px) {
	.content > .section_digital .card_list li.card_item_full {
		background-color: #07c89b;
	}
	.content > .section_commerce .card_list li.card_item_full {
		background-color: #2280fe;
	}
	.section_report .info_record {
		background-color: #def9e4;
	}
}